.platform-stats-container {
  text-align: center;
  padding: 130px 16px 100px 16px;
}

.platform-stats-heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
  color: black;
}

.platform-stats-subheading {
  font-size: 16px;
  color: #666;
  margin-bottom: 32px;
}

.platform-stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 19px;
}

.stat-box {
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  box-shadow: -4px 4px 8px rgba(0, 8, 168, 0.154);
  transition: transform 0.2s ease-in;
  height: 110px;
  width: 200px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stat-box:hover {
  transform: scale(1.05);
}

.stat-number {
  font-size: 32px;
  font-weight: bold;
  color: #111111;
}

.stat-label {
  font-size: 14.4px;
  color: #666;
  margin-top: 8px;
}

@media screen and (max-width: 900px) {
  .platform-stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .stat-box {
    width: 200px !important;
  }

  .stat-box:nth-child(3) {
    grid-column: 1 / -1;
    justify-self: center;
  }
}

@media screen and (max-width: 600px) {
  .platform-stats-grid {
    grid-template-columns: 1fr;
    gap: 40px;
    margin-top: 50px;
  }

  .platform-stats-grid {
    justify-items: center;
  }

  .platform-stats-heading {
    font-size: 30px;
  }

  .platform-stats-subheading {
    font-size: 15px;
  }

  .stat-number {
    font-size: 25px;
  }

  .stat-box:nth-child(3) {
    grid-column: auto;
  }
}

@media screen and (max-width: 450px) {
  .platform-stats-heading {
    font-size: 25px;
  }

  .platform-stats-subheading {
    font-size: 13px;
  }

  .stat-box {
    width: 150px !important;
  }

  .stat-number {
    font-size: 23px;
  }
}
