.recent-blog-posts {
  padding: 70px 16px 120px 16px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-recent-posts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
}

.header h2 {
  font-size: 24px;
  font-weight: bold;
}

.see-all-recent-blog {
  background: none;
  border: none;
  color: #1500ff;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  width: 100%;
}

.blog-card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  background-color: white;
  position: relative;
  width: 210px;
}

.blog-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.blog-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.blog-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-content h3 {
  font-size: 16px;
  margin: 0;
  height: 50px;
}

.blog-content p {
  font-size: 12px;
  font-style: italic;
  padding-top: 15px;
  color: #1500ff;
}

.button-view-more {
  position: absolute;
  z-index: 40;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 13px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.blog-card:hover > .button-view-more {
  display: flex;
}

.blog-card:hover > .recent-blog-user {
  display: flex;
  justify-content: center;
  width: 100%;
}

.blog-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  z-index: 10;
}

.blog-card:hover::before {
  background-color: rgba(3, 0, 31, 0.381);
}

.recent-blog-user {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  display: none;
  z-index: 10;
  color: white;
  font-size: 12px;
  margin-top: 10px;
}

@media screen and (max-width: 1100px) {
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 500px;
  }

  .header-recent-posts {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .recent-blog-posts {
    padding-bottom: 50px;
  }

  .recent-blog-posts h2 {
    padding-bottom: 20px;
  }

  .blog-grid {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 200px;
    gap: 40px;
  }
  .header-recent-posts {
    flex-direction: column;
  }

  .header-recent-posts button {
    position: absolute;
    bottom: 160px;
    font-size: 13px;
  }

  .blog-card {
    width: 200px !important;
  }
}
