.blog-review-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.review-title {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.review-title hr {
  width: 240px;
  color: rgb(76, 0, 255);
}

.review-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-top: 0px;
}

.blog-review-card {
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: transform 0.3s ease;
  height: 250px;
}

.blog-review-card:hover {
  transform: scale(1.05);
}

.p-card-content {
  text-align: center;
}

.blog-review-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.blog-review-card .blog-review-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.blog-review-card .blog-review-text {
  font-size: 14px;
  color: #555555;
  line-height: 22px;
  text-align: center;
}

.p-carousel-prev,
.p-carousel-next {
  background-color: #4c00ff !important;
  color: white !important;
  width: 25px !important;
  height: 25px !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: background-color 0.3s ease;
  margin: 0px 30px;
}

.p-carousel-indicators {
  margin-top: 20px;
}

.p-carousel-indicator button {
  background-color: #cccccc !important;
  width: 10px !important;
  height: 10px !important;
  margin: 0px 4px;
  border-radius: 50%;
  border: none;
  transition: background-color 0.3s ease;
  padding: 0px;
}

.p-carousel-indicator.p-highlight button {
  background-color: #4c00ff !important;
}

.p-link {
  padding: 0px;
}

.p-icon {
  width: 10px !important;
  height: 10px !important;
}

.delete-icon-review {
  display: none;
}

.blog-review-card:hover .delete-icon-review {
  display: flex !important;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 0 !important;
}

@media screen and (max-width: 800px) {
  .review-title h2 {
    font-size: 27px !important;
  }

  .review-title hr {
    width: 20%;
  }

  .blog-review-text {
    font-size: 12px !important;
  }

  .p-carousel-prev,
  .p-carousel-next {
    margin: 0px 15px;
  }
}

@media screen and (max-width: 500px) {
  .review-title h2 {
    font-size: 23px !important;
  }

  .review-title hr {
    width: 15%;
  }

  .blog-review-container {
    padding: 0 10px;
  }

  .blog-review-text {
    font-size: 11px !important;
  }

  .blog-review-card .blog-review-name {
    font-size: 16px !important;
  }

  .p-carousel-prev,
  .p-carousel-next {
    width: 20px !important;
    height: 20px !important;
  }

  .p-icon {
    width: 6px !important;
    height: 6px !important;
  }

  .text-center {
    padding: 0 10px !important;
  }

  .p-carousel-indicator button {
    width: 5px !important;
    height: 5px !important;
  }

  .review-title {
    margin-bottom: 40px;
  }
}
