.create-post-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/CreateBlogImages/backgroundCreateBlog.jpg")
    no-repeat center center/cover;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.create-post-container::after {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(12, 0, 68, 0.303);
  content: "";
}

.create-post-content {
  background: rgba(255, 255, 255, 0.729);
  padding: 20px 15px;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin-top: 40px;
  max-width: 500px;
  z-index: 2;
  animation: fadeInUp 0.6s ease;
  overflow-y: auto;
}

.create-post-content h2 {
  font-size: 20px;
  color: rgb(76, 0, 255);
  font-weight: 700;
  text-align: center;
}

.create-post-subtitle {
  text-align: center;
  color: #555;
  font-size: 11px;
  margin-bottom: 15px;
}

.create-post-form {
  display: flex;
  flex-direction: column;
}

.create-post-form .form-group {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.create-post-form label {
  font-weight: 600;
  color: #333;
  margin-bottom: 4px;
  font-size: 10px;
}

.create-post-form input,
.create-post-form textarea {
  padding: 8px 10px;
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

.create-post-form input:hover,
.create-post-form textarea:hover {
  border-color: rgb(100, 0, 255);
  background-color: #fff8f7;
}

.create-post-form input:focus,
.create-post-form textarea:focus {
  border-color: rgb(76, 0, 255);
  background-color: #ffffff;
  outline: none;
  box-shadow: 0px 0px 0px 2px rgba(0, 188, 212, 0.2);
}

.submit-post-button {
  margin-top: 18px;
  padding: 7px 20px;
  align-self: center;
  font-size: 11px;
  background-color: rgb(17, 0, 255);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  position: relative;
  overflow: hidden;
}

.submit-post-button:hover {
  background-color: #5c00cc;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.submit-post-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.submit-post-button:hover::after {
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
}

.p-dropdown {
  padding-left: 10px !important;
  font-size: 11px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  width: 100%;
}

.create-post-form .p-inputtext {
  font-size: 10px !important;
  color: black !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.create-post-form .p-placeholder {
  color: rgba(55, 55, 55, 0.71) !important;
}

.p-dropdown:hover {
  border-color: rgb(100, 0, 255);
  background-color: #fff8f7;
}

.p-dropdown.p-focus {
  border-color: rgb(76, 0, 255);
  background-color: #ffffff;
  box-shadow: 0px 0px 0px 2px rgba(0, 188, 212, 0.2);
}

.p-dropdown-item {
  font-size: 10px;
  padding: 8px 10px;
  background-color: white !important;
}

.p-dropdown-item:hover {
  background-color: rgba(100, 0, 255, 0.1);
  color: #333;
}

.p-dropdown-item.p-highlight {
  background-color: rgb(76, 0, 255);
  color: rgb(76, 0, 255);
}

.p-dropdown-trigger {
  display: flex;
  justify-content: flex-end;
}

.p-dropdown .p-dropdown-trigger-icon {
  color: rgb(76, 0, 255);
  font-size: 11px;
  margin-right: 5px;
}

.p-datepicker {
  background-color: rgb(255, 255, 255);
}

.p-datepicker th {
  color: blue;
  padding: 5px;
}

.p-datepicker td {
  text-align: center;
  padding: 0px !important;
}

.p-datepicker td > span {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 32px;
  font-size: 13px;
}

.create-post-container .form-group-image {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
}

.create-post-form .image-preview {
  width: auto;
  height: 40px;
  border: 1px solid blue;
  margin-left: 10px;
}

.create-post-form .input-image {
  padding: 4px 10px !important;
  width: 100%;
  cursor: pointer;
  font-size: 10px !important;
}

.error-message {
  color: red;
  font-size: 11px;
}

.form-group-image {
  height: 90px;
}

.p-datepicker-next,
.p-datepicker-prev {
  background-color: transparent !important;
}

.p-icon.p-datepicker-next-icon,
.p-icon.p-datepicker-prev-icon {
  color: blue !important;
  position: absolute;
  width: 10px !important;
  height: 10px !important;
}

.p-datepicker-title {
  display: flex;
  gap: 3px;
}

.p-datepicker-month,
.p-datepicker-year {
  background-color: transparent !important;
  pointer-events: none;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .create-post-container {
    padding: 20px;
  }

  .create-post-content h2 {
    font-size: 18px;
  }

  .create-post-subtitle {
    font-size: 10px;
  }

  .form-group label {
    font-size: 10px;
  }

  .create-post-form input,
  .create-post-form textarea {
    font-size: 10px;
  }

  .submit-post-button {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  .create-post-content h2 {
    font-size: 16px;
  }

  .create-post-subtitle {
    font-size: 10px;
  }

  .form-group label {
    font-size: 9px;
  }

  .create-post-form input,
  .create-post-form textarea {
    font-size: 9px;
  }

  .p-datepicker td > span {
    font-size: 10px;
  }

  .p-datepicker {
    font-size: 14px;
  }

  .p-datepicker-calendar {
    font-size: 12px !important;
  }

  .p-datepicker-month,
  .p-datepicker-year {
    font-size: 12px;
  }
}
